.financial {
  margin-bottom: 20px;
  margin: 20px;
  
}
.financialConatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.financialHeader {
  -webkit-box-shadow:  px 0px 0px 0px #4c4c4c;
  box-shadow: 0px 0px 1px 0px #4c4c4c;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 6rem;
  border-radius: 10px;
  padding: 20px;
  width: 12rem;
  margin-top: 20px;
  cursor: pointer;
  background-color:#ffffff;
  
}
.financialHeaderTitle{
  font-size: 1.2rem;
}
.costHeader{
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cost{
  font-size: 2rem;
}
.lose{
  display: flex;
  align-items: center;
  font-size: .9rem;
  /* justify-content: center; */
}

.down.active{
  color: red;
  font-size: 1rem;
}
p{
  color: #4c4c4c;
}
.up{
  color: rgb(7, 255, 7);
  font-size: 1.2rem !important;
}
